Repository benjamin-awd/StatementSensei: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, add-monopoly-streamlit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd $(git rev-parse --show-toplevel)/tauri/src-tauri && cargo fmt -- '
        language: system
        files: \.rs$

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.1.1
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        require_serial: true
        types_or: [python, pyi]

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    - id: isort
      name: isort
      entry: isort
      require_serial: true
      language: python
      types_or: [cython, pyi, python]
      args: ['--filter-files']

  - repo: https://github.com/PyCQA/pylint
    rev: v2.17.5
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      require_serial: true

  - repo: local
    hooks:
      - id: add-monopoly-streamlit
        name: poetry-export (monopoly-streamlit)
        entry: .github/hooks/add_monopoly_streamlit.sh
        language: script
        files: ^(requirements.txt|poetry.lock)$

docs(README): add note about installation false postives
  README.md
Due: none

refactor: rename app to StatementSensei
  .github/hooks/include_webapp_in_requirements.sh
  .github/workflows/build_app.yml
  .pre-commit-config.yaml
  README.md
  docs/logo.svg
  docs/streamlit_demo.gif
  entrypoint.onefile.spec
  entrypoint.py
  entrypoint.spec
  hooks/hook-monopoly_streamlit.py
  hooks/hook-webapp.py
  logo.svg
  monopoly_streamlit/logo.py
  pyproject.toml
  tauri/package.json
  tauri/public/splashscreen.html
  tauri/src-tauri/.gitignore
  tauri/src-tauri/Cargo.lock
  tauri/src-tauri/Cargo.toml
  tauri/src-tauri/src/lib.rs
  tauri/src-tauri/tauri.conf.json
  webapp/__init__.py
  webapp/app.py
  webapp/helpers.py
  webapp/logo.py
  webapp/pages/about.py
Due: cargo-fmt

chore(release): prepare for 0.4.0
  .github/workflows/build_app.yml
  CHANGELOG.md
  pyproject.toml
Due: none

build(deps): bump monopoly-core to 0.10.2
  poetry.lock
  pyproject.toml
  requirements.txt
Due: add-monopoly-streamlit

chore(release): prepare for 0.4.1
  CHANGELOG.md
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

chore: add example statement
  .gitignore
  docs/example_statement.pdf
Due: none

build(deps): bump monopoly-core to 0.10.3
  poetry.lock
  pyproject.toml
  requirements.txt
Due: add-monopoly-streamlit

chore(release): prepare for 0.4.2
  CHANGELOG.md
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

feat(tauri): enable HTML5 drag and drop
  tauri/src-tauri/tauri.conf.json
Due: none

chore(release): prepare for 0.4.3
  CHANGELOG.md
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

build(deps): bump monopoly-core to 0.10.6
  poetry.lock
  pyproject.toml
  requirements.txt
Due: add-monopoly-streamlit

chore(release): prepare for 0.4.4
  CHANGELOG.md
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

docs(README): update usage/install information
  README.md
Due: none

chore: bump monopoly-core to 0.10.7
  poetry.lock
  pyproject.toml
  requirements.txt
Due: add-monopoly-streamlit

chore(release): prepare for 0.4.5
  CHANGELOG.md
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

docs(README): update gif
  README.md
  docs/statement_sensei_demo.gif
  docs/streamlit_demo.gif
Due: none

docs(README): add link to core monopoly library
  README.md
Due: none

build: add Docker support
  Dockerfile
  docker-compose.yaml
Due: none

feat: add bank to dataframe
  webapp/app.py
  webapp/helpers.py
Due: none

refactor: move supported banks and app description to constants
  webapp/app.py
  webapp/constants.py
  webapp/pages/about.py
Due: none

refactor(ci): replace pylint pre-commit with ruff and flake8
  .flake8
  .pre-commit-config.yaml
Due: none

feat: add integration test
  .github/actions/setup-python-poetry/action.yml
  .github/workflows/build_app.yml
  .github/workflows/ci.yaml
  .gitignore
  poetry.lock
  pyproject.toml
  tests/fixtures/example_statement.csv
  tests/fixtures/example_statement.pdf
  tests/test_app.py
  webapp/app.py
Due: add-monopoly-streamlit

chore(release): prepare for 0.5.0
  CHANGELOG.md
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

chore: bump monopoly-core to 0.10.8
  poetry.lock
  pyproject.toml
  requirements.txt
Due: add-monopoly-streamlit

chore(release): prepare for 0.5.1
  CHANGELOG.md
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

build(deps): bump monopoly-core to 0.10.10
  poetry.lock
  pyproject.toml
  requirements.txt
Due: add-monopoly-streamlit

chore(release): prepare for 0.5.2
  CHANGELOG.md
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

fix(tauri): add missing Python framework for MacOS
  tauri/src-tauri/tauri.macos.conf.json
Due: none

chore(release): prepare for 0.5.3-rc.1
  CHANGELOG.md
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

docs(README): add banner for security warnings
  README.md
Due: none

docs(README): add note about docker compose
  README.md
Due: none

fix: use onefile mode for MacOS
  .github/workflows/build_app.yml
  tauri/src-tauri/tauri.macos.conf.json
Due: none

chore(release): prepare for 0.5.3-rc.2
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

chore(release): prepare for 0.5.3-rc.2
  .github/workflows/build_app.yml
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

chore(release): prepare for 0.5.3-rc.3
  pyproject.toml
  tauri/src-tauri/tauri.conf.json
Due: none

fix: create app bundle in entrypoint.spec
  .github/workflows/build_app.yml
  entrypoint.spec
Due: none
